{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <div class='section vh-100 section d-flex flex-column  align-items-center'>
    <div class="logout">
            <p>  <a class='link-button' href="{{ path('user_index') }}">back to list</a> </p>
    </div>
    <button class="btn text-center " id='homebutton'>MyEnesi </button>
   
   
     <div class='navtab mt-5'>
        <h1 class='block'>Prodotti</h1>
        <div class='block'>{{ include('_formsearch.html.twig') }}</div>
        <a class='block tablebutton'href="{{ path('product_new') }}" >Create new</a>  
    </div>

    <table class="mytab">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td class='w-25'>
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="tablebutton">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="tablebutton">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id='option' class='text-center'>
    {% if app.user %}
     <a href="{{ path('app_logout') }}"><button class='my-smtop my-homebutt'>Logout</button></a>
    {% endif %} 
    <a href="{{ path('order') }}"><button  class=' mr-4 my-homebutt mytop'>Crea ordine</button></a>
    <a href="{{ path('clients') }}"><button class=' my-homebutt my-lgtop'>clienti</button></a>
    <a href="{{ path('products') }}"><button class=' ml-4 my-homebutt mytop'>prodotti</button></a>
    <button class='my-smtop   my-homebutt'>grafici</button>
</div>
   
{% endblock %}
