{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class='section vh-100 section d-flex flex-column  align-items-center'>
    <h1 class='mt-5'>Prodotti</h1>
    <a href="{{ path('product_new') }}" class='btn btn-success mt-5 mb-5'>Aggiungi prodotto</a>

    {{ include('_formsearch.html.twig') }}

    <table class="table table-dark w-75">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td class='w-25'>
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
   
{% endblock %}
