{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    <a href="{{ path('products') }}" class="btn btn-primary position-absolute" >back to list</a>
  


    <div class="vw-100 vh-100 section d-flex justify-content-center align-items-center" style="width: 18rem;">
        <div class="h-50 w-25 card  d-flex flex-column  ">
             <div class="w-100  h-25 bg-warning  ">
            <h1 class=" text-center mb-5 pt-2"> {{ product.name }}</h1>
            </div >
            <div class="pl-4 pt-2 h-50">
            <p> id: {{ product.id }}</p>
           
            <p> name: {{ product.name }}</p>
        
        
            <p> price: {{ product.price }} $</p>
            
            </div>
            <div class=" pt-2 h-25 w-100  bg-warning text-center">
            <a style="height: 100%"  href="{{ path('product_edit', {'id': product.id}) }}"> <h1 class=" h-100 text-center mb-5 pt-2">  edit </h1></a>
            </div>
        </div>
</div>

    

    

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
