{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <div class='section vh-100 section d-flex flex-column  align-items-center'>
    <h1 class='mt-5'>Clienti </h1>

    <a href="{{ path('client_new') }}" class='btn btn-success mt-5 mb-5'>Aggiungi cliente</a>

    <table class="table table-dark w-75">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Place</th>
                <th scope="col">Status</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.place }}</td>
                <td>{{ client.status }}</td>
                <td class='w-25'>
                    <a href="{{ path('client_show', {'id': client.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    
{% endblock %}
