{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <div class='section vh-100 section d-flex flex-column  align-items-center'>
    <div class='navtab mt-5'>
        <h1 class='block'>Ordini</h1>
        <div class='block'>{{ include('_formsearch.html.twig') }}</div>
        <a class='block tablebutton'href="{{ path('order_new') }}" >Create new</a>  
    </div>



    <table class="mytab">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>OrderNumber</th>
                <th>Cliente</th>
                <th>Dipendente</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.orderNumber }}</td>
                <td>{{ order.client }}</td>
                <td>{{ order.user }}</td>
                <td class='w-25'>
                    <a href="{{ path('order_show', {'id': order.id}) }}" class="tablebutton">show</a>
                    <a href="{{ path('order_edit', {'id': order.id}) }}" class="tablebutton" >edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
