{{ form_start(form) }}
    {{ form_widget(form) }}
<<<<<<< HEAD
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
=======
    <button class="btn">{{ button_label|default('Save') }}</button>
>>>>>>> 56b936041b8232303e82be91f44e4c061cda700e
{{ form_end(form) }}
