{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<<<<<<< HEAD

    
   
<div class='vh-100 section d-flex justify-content-center align-items-center'>
    <a href="{{ path('users') }}">
        <div class="card  m-3 p-2 shadow" style="width: 18rem;height:50vh">
       <img src="{{ asset('build/subdir/dipendenti.svg') }}"  class='w-100 h-75' alt="ACME logo">
            <div class="card-body">
                <h2 class="card-text text-center">Dipendenti</h2>
            </div>
        </div>
    </a> 
    <a href="{{ path('products') }}">
        <div class="card  m-3 p-2 shadow" style="width: 18rem;height:50vh">
        <img src="{{ asset('build/subdir/logo.png') }}"  class='w-100 h-75' alt="ACME logo">
            <div class="card-body">
                <h2 class="card-text text-center">Prodotti</h2>
            </div>
        </div>
    </a> 
    <a href="{{ path('clients') }}">
        <div class="card  m-3 p-2 shadow" style="width: 18rem;height:50vh">
        <img src="{{ asset('build/subdir/clients.svg') }}"  class='w-100 h-75' alt="ACME logo">
            <div class="card-body">
                <h2 class="card-text text-center">Clienti</h2>
            </div>
        </div>
    </a>
    <a href="">
        <div class="card m-3 p-2 shadow" style="width: 18rem; height:50vh">
          <img src="{{ asset('build/subdir/order.svg') }}"  class='w-100 h-75' alt="ACME logo">
            <div class="card-body">
                <h2 class="card-text text-center">Crea un ordine</h2>
            </div>
        </div>
    </a>
</div>
=======
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Password</th>
                <th>website</th>
                <th>details</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>***</td>
                <td>{{ user.website }}</td>
                <td>{{ user.details }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
>>>>>>> 56b936041b8232303e82be91f44e4c061cda700e
{% endblock %}
