{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="logout">
        <p>  <a class='link-button' href="{{ path('users') }}">back to list</a> </p>
    </div>
    <div class="my-card m-3 p-2">
        <h2 class="text-center">User</h2>
        <h5 class="card-title">id</h5>
            <p class="card-text">{{ user.id }}</p>
             <h5 class="card-title">email</h5>
            <p class="card-text">{{ user.email }}</p>
             <h5 class="card-title">Roles</h5>
            <p class="card-text">{{ user.roles ? user.roles|json_encode : '' }}</p>
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="tablebutton">edit</a>
             {{ include('user/_delete_form.html.twig') }}
    </div>


   

    

{% endblock %}
