{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

<<<<<<< HEAD

    <a href="{{ path('user_index') }}">back to list</a>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">id</h5>
            <p class="card-text">{{ user.id }}</p>
             <h5 class="card-title">email</h5>
            <p class="card-text">{{ user.email }}</p>
             <h5 class="card-title">Roles</h5>
            <p class="card-text">{{ user.roles ? user.roles|json_encode : '' }}</p>
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary">edit</a>
             {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>

    

    

=======
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
>>>>>>> 56b936041b8232303e82be91f44e4c061cda700e
{% endblock %}
